{"swagger":"2.0","info":{"version":"v2","title":"Cedrom-SNi's API v2","description":"<b>IMPORTANT NOTICE:</b> In order for you to be granted access to this guide, your company has signed a formal agreement with CEDROM-SNi Inc. Please read the following notice summarizing your company’s obligations regarding this guide.<br><br><b>RIGHTS TO THIS GUIDE:</b> This Guide, and the rights, titles and interests thereto (including intellectual property rights, such as copyright, patent rights and proprietary trade secrets) are and shall remain at all times the exclusive property of CEDROM-SNi Inc. You shall not acquire any rights, title or interest therein other than the limited licenses expressly set out in this Agreement. You may make copies of the Guide in connection with your licensed use, but you may not distribute such copies outside of your organization.<br><br><b>GRANT OF LICENSE:</b> You are granted a license to the Guide, for the sole purpose of adapting your product to connect to CEDROM-SNi’s systems (the “Scope of the License”), subject to the limitations set out in the agreement with your company.<br><br><b>RENTAL AND TRANSFER:</b> You may not cause or permit the loan, rent, lease, transfer of possession (whether by sale, exchange, operation of law or otherwise), electronic transmission or time-sharing of this Guide. You may not transfer or assign the Agreement nor the Guide to another individual or entity, save with the prior written consent of CEDROM-SNi.<br><br><b>TERMINATION:</b> CEDROM-SNi may terminate the Agreement upon reasonable notice. At termination of this Agreement, for any reason, or if the commercial relationship with CEDROM-SNi has ended, you shall destroy any copy of his guide.<br><br><b>DOCUMENTATION:</b> A Cedrom-SNi account is necessary to use the API. All requests must be made through HTTPS. Plain HTTP requests will fail.<br><br><b>SEARCH QUERY DOCUMENTATION:</b> The following list presents examples of queries using simple and more sophisticated syntax, and describes the corresponding search results that are returned. Can be use with the search text of the controller \"<b>/Documents/Search</b>\", \"<b>/Documents/Search/Simple</b>\", \"<b>/Documents/Search/InitRange</b>\" and \"<b>/Queries</b>\".<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>\"happy hour\":</b> contains the exact phrase \"happy hour\"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>black & white:</b> contains both \"black\" and \"white\"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>red | green:</b> contains \"red\" or \"green\" or both<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>apple & (green | red):</b> contains \"apple\" as well as \"green\" or \"red\" or both<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>bank ! \"blood bank\":</b> contains \"bank\", but not \"blood bank\"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>public $2 advertisement:</b> contains \"public\" followed by \"advertisement\" with a maximum of two words in between<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>investments %2 textile:</b> contains \"investments\" and \"textile\" (in any order) with a maximum of two words in between<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>eat+:</b> contains a declension of \"eat\" such as \"ate\", \"eating\" or \"eaten\"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>manage*:</b> contains word(s) that begin with the character string \"manage\" such as \"manager\", \"managers\" or \"management\"<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>shareholders >4:</b> contains \"shareholders\" more than four times<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>exports @ aerospace:</b> contains both \"exports\" and \"aerospace\" in the same paragraph<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>hiring # staff:</b> contains both \"hiring\" and \"staff\" in the same sentence<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>AUT_BY=(Reuters | Peter Martin):</b> searches for documents from the Reuters agency or Peter Martin<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>LEAD=mortgage:</b> contains \"mortgage\" in the lead<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>TIT_HEAD=mortgage:</b> contains \"mortgage\" in the title, kicker or subhead<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>ILL=fish:</b> contains \"fish\" in the caption of an illustration<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>Atlantic & LG=brief:</b> searches for brief documents containing \"Atlantic\" (possible values are brief, short, medium and long)<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- <b>mortgage & PAGE=1:</b> contains \"mortgage\" on page 1"},"host":"api.eureka.cc:83","schemes":["https"],"paths":{"/api/auth/login":{"post":{"tags":["Authentication"],"summary":"Logs the user in our system and returns the authentication token required to access the other methods.","consumes":["application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"grant_type","in":"formData","description":"The grant type used for the authentication. It will always be password.","required":true,"type":"string","default":"password"},{"name":"username","in":"formData","description":"The username of the account you want to connect with.","required":true,"type":"string","default":"Username in our product"},{"name":"password","in":"formData","description":"The password of the account you want to connect with.","required":true,"type":"string","default":"Password in our product"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending a HTTP form encoded message (Base 64). Only x-www-form-urlencoded is supported.","required":true,"type":"string","default":"application/x-www-form-urlencoded"}],"responses":{"200":{"description":"The user has successfully logged into our system and the authentication token is returned.","schema":{"required":["access_token","token_type","expires_in"],"type":"object","properties":{"access_token":{"description":"The token used to access any method of the API.","default":"token_value","type":"string"},"token_type":{"description":"The type of token used for authenticating on the API. Will always be \"bearer\".","default":"bearer","type":"string"},"expires_in":{"description":"The time before the token expires. The token can also expire before this if it stays inactive for too long.","default":43199,"type":"int"}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"403":{"description":"The user does not have access to the API."},"500":{"description":"An internal server error has happened. If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/{documentId}":{"get":{"tags":["Documents"],"summary":"Gets the document matching the document Id.","operationId":"Documents_GetDocumentFromNoDocV1","consumes":[],"produces":["application/json"],"parameters":[{"name":"documentId","in":"path","description":"The Id of the document you wish to get.","required":true,"type":"string","default":"news·20160505·LA·001"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the document is returned.","schema":{"title":"DocumentDto","required":["documentContent","attachmentInfos"],"type":"object","properties":{"documentContent":{"description":"The content of the requested document returned as JSON.","default":"Some object","type":"object"},"attachmentInfos":{"description":"All the document's attachement summary.","type":"array","items":{"title":"DocumentAttachmentSummaryDto","required":["AttachmentFile","AttachmentUrl","attachmentType","AttachmentPage","AttachmentThumbnail"],"type":"object","properties":{"AttachmentFile":{"description":"API route to display the atttachment file.","default":"API route.","type":"string"},"AttachmentUrl":{"description":"API route to display the atttachment file URL.","default":"API route.","type":"string"},"attachmentType":{"description":"The attachment extension.","default":"pdf","type":"string"},"AttachmentPage":{"description":"Pages name of the attachment.","default":"Page name.","type":"string"},"AttachmentThumbnail":{"description":"API route to display the atttachment thumbnail.","default":"API route.","type":"string"}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"403":{"description":"The document is not available to this user whether be it temporarily or permanently."},"404":{"description":"The document could not be found or is unavailable at the moment."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/SearchResults/{searchQueryId}":{"get":{"tags":["Documents"],"summary":"Gets the search result returned by the search based on the query id.","operationId":"Documents_GetSearchResultsFromQueryIdV1","consumes":[],"produces":["application/json"],"parameters":[{"name":"searchQueryId","in":"path","description":"The Id of the search query from which the search result must be retreived.","required":true,"type":"integer","format":"int32","default":1234},{"name":"maxCount","in":"path","description":"The maximum count of documents to return.","required":false,"type":"integer","default":0},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"sort","in":"path","description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","type":"string","default":"relevance"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"type":"array","items":{"required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8252782-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8252782-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}},"404":{"description":"The search query id could not be found in the database."},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/SearchResults/Simple":{"get":{"tags":["Documents"],"summary":"Gets the search result returned by the search based on some text and a number of days.","operationId":"Documents_GetSimpleSearchResultsV1","consumes":[],"produces":["application/json"],"parameters":[{"name":"searchText","in":"path","description":"The text to search in the documents' title or content. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","required":true,"type":"string","default":"Some query text"},{"name":"numberOfDays","in":"path","description":"The number of days to include in the search. Use 0 to search only for the documents that came out today.","required":true,"type":"integer","default":4},{"name":"maxCount","in":"path","description":"The maximum count of documents to return.","required":false,"type":"integer","default":0},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"sort","in":"path","description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","type":"string","default":"relevance"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"type":"array","items":{"required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8252782-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8252782-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/SearchResults":{"get":{"tags":["Documents"],"summary":"Gets the search result returned by the search based on a bunch of parameters.","operationId":"Documents_GetAdvancedSearchResultsV1","consumes":[],"produces":["application/json"],"parameters":[{"name":"query","in":"path","description":"The query used to search in our system. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","required":true,"type":"string","default":"Some query text"},{"name":"documentBase","in":"path","description":"The document base which determines which type of documents will be returned. The available document bases are <b>News</b>, <b>Companies</b> and <b>Biographies</b>. If not specified, <b>News</b> will be used.","required":false,"type":"string","default":"News"},{"name":"domainId","in":"path","description":"The domain used to restrain the search's range. See \"<b>/Domains</b>\" to get a list of possible values.","required":false,"type":"integer","default":208},{"name":"includes","in":"path","description":"An array containing criterion and/or publication ids restricting what must be included in the search. If this parameter and <b>excludes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","required":false,"type":"array","items":{"type":"integer"},"default":"[4, 123]"},{"name":"excludes","in":"path","description":"An array containing criterion and/or publication ids restricting what must be excluded from the search. If this parameter and <b>includes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","required":false,"type":"array","items":{"type":"integer"},"default":"[4, 123]"},{"name":"maxCount","in":"path","description":"The maximum count of documents to return.","required":false,"type":"integer","default":0},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"numberOfDays","in":"path","description":"The number of days, starting from the current date, to include in the search. If not specified, <b>startDate</b> and <b>endDate</b> will be used. Use 0 to search only for the documents that came out today.","required":false,"type":"integer","default":4},{"name":"startDate","in":"path","description":"The date from which the search much start. Only used if <b>dateRange</b> is not specified.","required":false,"type":"string","format":"date-time","default":"2023-02-26T00:00:00-05:00"},{"name":"endDate","in":"path","description":"The date at which the search much end. Only used if <b>dateRange</b> is not specified.","required":false,"type":"string","format":"date-time","default":"2023-02-27T00:00:00-05:00"},{"name":"sort","in":"path","description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","type":"string","default":"relevance"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"},{"name":"Cs-Language","in":"header","description":"The header which determines the language in which the details are returned. The available languages are <b>French</b> and <b>English</b>. If the header is not specified or the value specified is not implemented or wrong, the user's default language is used.","required":false,"type":"string","default":"french"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"type":"array","items":{"required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8408776-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8408776-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/SearchResults/InitRange":{"get":{"tags":["Documents"],"summary":"Gets the search query id and the document count returned by the search based on a bunch of parameters.","description":"This method caches the search results on the server and returns an id that allows access to the cached results through the <b>/Range</b> endpoint. The search results are cached on the server for five minutes. If there are no request after five minutes, the query expires. The timer is reset every time the search result are access through the <b>/Range</b> endpoint.","operationId":"Documents_GetDocumentAdvancedInitRangeSearchResultsV1","consumes":[],"produces":["application/json"],"parameters":[{"name":"query","in":"path","description":"The query used to search in our system. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","required":true,"type":"string","default":"Some query text"},{"name":"documentBase","in":"path","description":"The document base which determines which type of documents will be returned. The available document bases are <b>News</b>, <b>Companies</b> and <b>Biographies</b>. If not specified, <b>News</b> will be used.","required":false,"type":"string","default":"News"},{"name":"domainId","in":"path","description":"The domain used to restrain the search's range. See \"<b>/Domains</b>\" to get a list of possible values.","required":false,"type":"integer","default":208},{"name":"includes","in":"path","description":"An array containing criterion and/or publication ids restricting what must be included in the search. If this parameter and <b>excludes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","required":false,"type":"array","items":{"type":"integer"},"default":"[4, 123]"},{"name":"excludes","in":"path","description":"An array containing criterion and/or publication ids restricting what must be excluded from the search. If this parameter and <b>includes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","required":false,"type":"array","items":{"type":"integer"},"default":"[4, 123]"},{"name":"maxCount","in":"path","description":"The maximum count of documents to return.","required":false,"type":"integer","default":0},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"numberOfDays","in":"path","description":"The number of days, starting from the current date, to include in the search. If not specified, <b>startDate</b> and <b>endDate</b> will be used. Use 0 to search only for the documents that came out today.","required":false,"type":"integer","default":4},{"name":"startDate","in":"path","description":"The date from which the search much start. Only used if <b>dateRange</b> is not specified.","required":false,"type":"string","format":"date-time","default":"2023-02-26T00:00:00-05:00"},{"name":"endDate","in":"path","description":"The date at which the search much end. Only used if <b>dateRange</b> is not specified.","required":false,"type":"string","format":"date-time","default":"2023-02-27T00:00:00-05:00"},{"name":"sort","in":"path","description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","type":"string","default":"relevance"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"},{"name":"Cs-Language","in":"header","description":"The header which determines the language in which the details are returned. The available languages are <b>French</b> and <b>English</b>. If the header is not specified or the value specified is not implemented or wrong, the user's default language is used.","required":false,"type":"string","default":"french"}],"responses":{"200":{"description":"The request was successful, the search results are cached on the server and the informations necessary to access the results are returned.","schema":{"required":["resultId","documentCount"],"type":"object","properties":{"resultId":{"description":"The search GUID used to request search results by page to the API.","default":"d6e1ba85-f8b5-497d-9e53-4ef623ad4d23","type":"guid"},"documentCount":{"description":"The number of documents matching the search's criteria.","default":300,"type":"integer"}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/SearchResults/Range":{"get":{"tags":["Documents"],"summary":"Gets the search result cached based on the cached query id acquired through the /InitRange endpoint.","description":"The search results must first be cached though the <b>/InitRange</b> endpoint.","operationId":"Documents_GetDocumentAdvancedRangeSearchResultsV1","consumes":[],"produces":["application/json"],"parameters":[{"name":"queryId","in":"path","description":"The GUID used to obtain the cached search result.","required":true,"type":"string","format":"uuid","default":1234},{"name":"startIndex","in":"path","description":"The index from which the returned search result starts. It cannot be lower than 0.","required":true,"type":"integer","default":0},{"name":"endIndex","in":"path","description":"The index from which the returned search result ends. It cannot be higher than the total number of documents.","required":true,"type":"integer","default":9},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"type":"array","items":{"required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8408776-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8408776-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"404":{"description":"There was no query with the specified id cached on the server. It may have expired or has never existed."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Attachments/Files/{attachmentId}":{"get":{"tags":["Documents"],"summary":"Gets the document attachment matching the attachment id.","description":"The file, video, audio clip or image is returned as a binary file.","operationId":"Documents_GetDocumentAttachmentFromAttachmentIdV1","consumes":[],"produces":["application/pdf","text/html","audio/{audioFormat}","image/{imageFormat}","video/{videoFormat}"],"parameters":[{"name":"attachmentId","in":"path","description":"The id of the document attachment you wish to get.","required":true,"type":"string","default":"\"Attachment's Id\""},{"name":"Accept","in":"header","description":"The header telling the server you're expecting a streamed file. See the list of supported return types in the response content type.","required":true,"type":"string","default":"application/pdf"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the document attachment is returned.","schema":{"type":"The response only contains the returned binary data. No other field is returned. The response's Content-Type header indicates the type of data returned."}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"403":{"description":"The document and its attachments are not available to this user whether be it temporarily or permanently."},"404":{"description":"The attachment could not be found or is unavailable at the moment."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Attachments/Urls/{attachmentId}":{"get":{"tags":["Documents"],"summary":"Gets the document attachment url matching the attachment id. (Video/Audio)","description":"The returned url can be used to view the attachment directly in a browser. This method is only available for videos and audio clips.","operationId":"Documents_GetDocumentAttachmentUrlFromAttachmentIdV1","consumes":[],"produces":["application/json"],"parameters":[{"name":"attachmentId","in":"path","description":"The Id of the document attachment from which you wish to get the url.","required":true,"type":"string","default":"Attachment Id"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the document attachment's url is returned.","schema":{"type":"The response contains the url string. No other field is returned."}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"403":{"description":"The document and its attachments are not available to this user whether be it temporarily or permanently."},"404":{"description":"The attachment could not be found or is unavailable at the moment."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/BasketReproRight":{"post":{"tags":["Documents"],"summary":"Create a Publi-C basket containing a list of documents.","description":"","operationId":"Documents_CreateBasketReproRight","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"parameters","in":"body","description":"Data structure containing a list of documentId to add in basket and the the address of the webpage where the request originated.","required":true,"schema":{"title":"BasketReproRightParameter","required":["documentIds","httpReferer"],"type":"object","properties":{"documentIds":{"type":"array","items":{"type":"string"}},"httpReferer":{"type":"string"}}}},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the basket is created.","schema":{"title":"BasketReproRightDto","required":["basketId","organizationUrlId","referenceNo"],"type":"object","properties":{"basketId":{"description":"The created basket Id.","default":1234,"type":"integer"},"organizationUrlId":{"description":"The organization Id associated to the httpReferer input parameter.","default":1234,"type":"integer"},"referenceNo":{"description":"The invoice reference number.","default":"Reference No","type":"string"}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/{searchResultId}/{documentId}":{"get":{"tags":["Documents"],"summary":"Gets the document matching the document Id, including keyword hightlighting from the search context.","operationId":"Documents_GetDocumentFromSearchAndNoDoc","consumes":[],"produces":["application/json"],"parameters":[{"name":"searchResultId","in":"path","description":"The searchId from which you want to get the document from.","required":true,"type":"string","default":"16120c65-6585-42f7-b5ef-7d986d2894fc"},{"name":"documentId","in":"path","description":"The Id of the document you wish to get.","required":true,"type":"string","default":"news·20160505·LA·001"},{"name":"lang","in":"query","description":"(Optional) Parameter allowing to override the current user's language preference","required":false,"type":"string","default":"fr | en"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the document is returned.","schema":{"title":"DocumentDto","required":["documentContent","attachmentInfos"],"type":"object","properties":{"documentContent":{"description":"The content of the requested document returned as JSON.","default":"Some object","type":"object"},"attachmentInfos":{"description":"All the document's attachement summary.","type":"array","items":{"title":"DocumentAttachmentSummaryDto","required":["AttachmentFile","AttachmentUrl","attachmentType","AttachmentPage","AttachmentThumbnail"],"type":"object","properties":{"AttachmentFile":{"description":"API route to display the atttachment file.","default":"API route.","type":"string"},"AttachmentUrl":{"description":"API route to display the atttachment file URL.","default":"API route.","type":"string"},"attachmentType":{"description":"The attachment extension.","default":"pdf","type":"string"},"AttachmentPage":{"description":"Pages name of the attachment.","default":"Page name.","type":"string"},"AttachmentThumbnail":{"description":"API route to display the atttachment thumbnail.","default":"API route.","type":"string"}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"403":{"description":"The document is not available to this user whether be it temporarily or permanently."},"404":{"description":"The document could not be found or is unavailable at the moment."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/{documentId}/Pdf":{"get":{"tags":["Documents"],"summary":"Generate a pdf export of the document matching the document Id.","operationId":"Documents_GetDocumentPdfFromNoDoc","consumes":[],"produces":["application/pdf"],"parameters":[{"name":"documentId","in":"path","description":"The Id of the document you wish to get.","required":true,"type":"string","default":"news·20160505·LA·001"},{"name":"lang","in":"query","description":"(Optional) Parameter allowing to override the current user's language preference","required":false,"type":"string","default":"fr | en"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the pdf is returned.","schema":{"type":"object"}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"403":{"description":"The document is not available to this user whether be it temporarily or permanently."},"404":{"description":"The document could not be found or is unavailable at the moment."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Pdf/{encryptedLink}":{"get":{"tags":["Documents"],"operationId":"Documents_GetPdfFromEncryptedExcelLink","consumes":[],"produces":["application/json","text/json","text/html","application/xml","text/xml"],"parameters":[{"name":"encryptedLink","in":"path","required":true,"type":"string"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/QuerySearch/{queryId}":{"get":{"tags":["Documents"],"summary":"Gets the search result returned by the search based on the query id.","operationId":"Documents_GetSearchResultsFromQueryId","consumes":[],"produces":["application/json"],"parameters":[{"name":"queryId","in":"path","description":"The Id of the search query from which the search result must be retreived.","required":true,"type":"integer","format":"int32","default":1234},{"name":"maxCount","in":"path","description":"The maximum count of documents to return.","required":false,"type":"integer","default":0},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"fields","in":"query","description":"Lists of fields to show. The available fields are <b>Result</b>, <b>Count</b> and <b>Attachments</b>. You can display multiple fields separated by a comma. If not specified, all fields will be shown.","required":false,"type":"string","default":""},{"name":"sort","in":"path","description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","type":"string","default":"relevance"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"title":"DocumentSearchResultDetailsDto","required":["count","result"],"type":"object","properties":{"count":{"description":"The document count.","default":"0","type":"int"},"result":{"description":"All the document's summary.","type":"array","items":{"title":"DocumentSearchResultDto","required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8408776-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8408776-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}}}},"404":{"description":"The search query id could not be found in the database."},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Search/Simple":{"get":{"tags":["Documents"],"summary":"Gets the search result returned by the search based on a simple bunch of parameters.","operationId":"Documents_GetSimpleSearchResults","consumes":[],"produces":["application/json"],"parameters":[{"name":"query","in":"path","description":"The text to search in the documents' title or content. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","required":true,"type":"string","default":"Some query text"},{"name":"dateRange","in":"path","description":"Date range at which search is restricted. Possible values are: <b>TODAY</b>, <b>SINCE_YESTERDAY</b>, <b>DAYS_3</b>, <b>DAYS_7</b>, <b>DAYS_30</b>, <b>MONTHS_3</b>, <b>MONTHS_6</b>, <b>YEARS_1</b>, <b>YEARS_2</b>, <b>ALL</b>. If not specified, \"Date Range\" value of search preference from Eureka web site is used.","required":false,"type":"string","default":"DAYS_7"},{"name":"maxCount","in":"path","description":"The maximum count of documents to return.","required":false,"type":"integer","default":0},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"fields","in":"query","description":"Lists of fields to show. The available fields are <b>Result</b>, <b>Count</b> and <b>Attachments</b>. You can display multiple fields separated by a comma. If not specified, all fields will be shown.","required":false,"type":"string","default":""},{"name":"sort","in":"path","description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","type":"string","default":"relevance"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"title":"DocumentSearchResultDetailsDto","required":["count","result"],"type":"object","properties":{"count":{"description":"The document count.","default":"0","type":"int"},"result":{"description":"All the document's summary.","type":"array","items":{"title":"DocumentSearchResultDto","required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8408776-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8408776-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}},"post":{"tags":["Documents"],"summary":"Gets the search result returned by the search based on a simple bunch of parameters.","operationId":"Documents_GetSimpleSearchResultsFromPost","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"JSon Body","in":"body","description":"Data structure containing the parameters of the simple search.","required":true,"schema":{"title":"GetDocumentSimpleSearchResultsParametersV2 ","required":["query"],"type":"object","properties":{"query":{"description":"The text to search in the documents' title or content. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","default":"Some query text","type":"string"},"dateRange":{"description":"Date range at which search is restricted. Possible values are: <b>TODAY</b>, <b>SINCE_YESTERDAY</b>, <b>DAYS_3</b>, <b>DAYS_7</b>, <b>DAYS_30</b>, <b>MONTHS_3</b>, <b>MONTHS_6</b>, <b>YEARS_1</b>, <b>YEARS_2</b>, <b>ALL</b>. If not specified, \"Date Range\" value of search preference from Eureka web site is used.","default":"DAYS_7","type":"string"},"maxCount":{"description":"The maximum count of documents to return.","default":0,"type":"integer"},"docUrl":{"description":"Indicates that you want an external link to the document with the http(s) protocol you want","default":"http | https","type":"string"},"sort":{"description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","default":"relevance","type":"string"}}}},{"name":"fields","in":"query","description":"Lists of fields to show. The available fields are <b>Result</b>, <b>Count</b> and <b>Attachments</b>. You can display multiple fields separated by a comma. If not specified, all fields will be shown.","required":false,"type":"string","default":""},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"title":"DocumentSearchResultDetailsDto","required":["count","result"],"type":"object","properties":{"count":{"description":"The document count.","default":"0","type":"int"},"result":{"description":"All the document's summary.","type":"array","items":{"title":"DocumentSearchResultDto","required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8408776-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8408776-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Search":{"get":{"tags":["Documents"],"summary":"Gets the search result returned by the search based on a bunch of parameters.","operationId":"Documents_GetAdvancedSearchResults","consumes":[],"produces":["application/json"],"parameters":[{"name":"query","in":"path","description":"The query used to search in our system. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","required":true,"type":"string","default":"Some query text"},{"name":"documentBase","in":"path","description":"The document base which determines which type of documents will be returned. The available document bases are <b>News</b>, <b>Companies</b> and <b>Biographies</b>. If not specified, <b>News</b> will be used.","required":false,"type":"string","default":"News"},{"name":"domainId","in":"path","description":"The domain used to restrain the search's range. See \"<b>/Domains</b>\" to get a list of possible values.","required":false,"type":"integer","default":208},{"name":"includes","in":"path","description":"An array containing criterion and/or publication ids restricting what must be included in the search. If this parameter and <b>excludes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","required":false,"type":"array","items":{"type":"integer"},"default":"[4, 123]"},{"name":"excludes","in":"path","description":"An array containing criterion and/or publication ids restricting what must be excluded from the search. If this parameter and <b>includes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","required":false,"type":"array","items":{"type":"integer"},"default":"[4, 123]"},{"name":"maxCount","in":"path","description":"The maximum count of documents to return.","required":false,"type":"integer","default":0},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"dateRange","in":"path","description":"Date range at which search is restricted. Possible values are: <b>TODAY</b>, <b>SINCE_YESTERDAY</b>, <b>DAYS_3</b>, <b>DAYS_7</b>, <b>DAYS_30</b>, <b>MONTHS_3</b>, <b>MONTHS_6</b>, <b>YEARS_1</b>, <b>YEARS_2</b>, <b>ALL</b>. If <b>dateRange</b>, <b>startDate</b> and <b>endDate</b> are not specified, \"Date Range\" value of search preference from Eureka web site is used.","required":false,"type":"string","default":"DAYS_7"},{"name":"startDate","in":"path","description":"The date from which the search much start. Only used if <b>dateRange</b> is not specified.","required":false,"type":"string","format":"date-time","default":"2023-02-26T00:00:00-05:00"},{"name":"endDate","in":"path","description":"The date at which the search much end. Only used if <b>dateRange</b> is not specified.","required":false,"type":"string","format":"date-time","default":"2023-02-27T00:00:00-05:00"},{"name":"fields","in":"query","description":"Lists of fields to show. The available fields are <b>Result</b>, <b>Count</b> and <b>Attachments</b>. You can display multiple fields separated by a comma. If not specified, all fields will be shown.","required":false,"type":"string","default":""},{"name":"sort","in":"path","description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","type":"string","default":"relevance"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"},{"name":"Cs-Language","in":"header","description":"The header which determines the language in which the details are returned. The available languages are <b>French</b> and <b>English</b>. If the header is not specified or the value specified is not implemented or wrong, the user's default language is used.","required":false,"type":"string","default":"french"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"title":"DocumentSearchResultDetailsDto","required":["count","result"],"type":"object","properties":{"count":{"description":"The document count.","default":"0","type":"int"},"result":{"description":"All the document's summary.","type":"array","items":{"title":"DocumentSearchResultDto","required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8408776-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8408776-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}},"post":{"tags":["Documents"],"summary":"Gets the search result returned by the search based on a bunch of parameters.","operationId":"Documents_GetAdvancedSearchResultsFromPost","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"JSon Body","in":"body","description":"Data structure containing the parameters of the search.","required":true,"schema":{"title":"GetDocumentAdvancedSearchResultsParametersV2 ","required":["query"],"type":"object","properties":{"query":{"description":"The query used to search in our system. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","default":"Some query text","type":"string"},"documentBase":{"description":"The document base which determines which type of documents will be returned. The available document bases are <b>News</b>, <b>Companies</b> and <b>Biographies</b>. If not specified, <b>News</b> will be used.","default":"News","type":"string"},"domainId":{"description":"The domain used to restrain the search's range. See \"<b>/Domains</b>\" to get a list of possible values.","default":208,"type":"integer"},"includes":{"description":"An array containing criterion and/or publication ids restricting what must be included in the search. If this parameter and <b>excludes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","default":"[4, 123]","type":"array"},"excludes":{"description":"An array containing criterion and/or publication ids restricting what must be excluded from the search. If this parameter and <b>includes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","default":"[4, 123]","type":"array"},"maxCount":{"description":"The maximum count of documents to return.","default":0,"type":"integer"},"docUrl":{"description":"Indicates that you want an external link to the document with the http(s) protocol you want","default":"http | https","type":"string"},"sort":{"description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","default":"relevance","type":"string"},"dateRange":{"description":"Date range at which search is restricted. Possible values are: <b>TODAY</b>, <b>SINCE_YESTERDAY</b>, <b>DAYS_3</b>, <b>DAYS_7</b>, <b>DAYS_30</b>, <b>MONTHS_3</b>, <b>MONTHS_6</b>, <b>YEARS_1</b>, <b>YEARS_2</b>, <b>ALL</b>. If <b>dateRange</b>, <b>startDate</b> and <b>endDate</b> are not specified, \"Date Range\" value of search preference from Eureka web site is used.","default":"DAYS_7","type":"string"},"startDate":{"description":"The date from which the search much start. Only used if <b>dateRange</b> is not specified.","default":"2023-02-26T00:00:00-05:00","type":"string"},"endDate":{"description":"The date at which the search much end. Only used if <b>dateRange</b> is not specified.","default":"2023-02-27T00:00:00-05:00","type":"string"}}}},{"name":"fields","in":"query","description":"Lists of fields to show. The available fields are <b>Result</b>, <b>Count</b> and <b>Attachments</b>. You can display multiple fields separated by a comma. If not specified, all fields will be shown.","required":false,"type":"string","default":""},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"},{"name":"Cs-Language","in":"header","description":"The header which determines the language in which the details are returned. The available languages are <b>French</b> and <b>English</b>. If the header is not specified or the value specified is not implemented or wrong, the user's default language is used.","required":false,"type":"string","default":"french"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"title":"DocumentSearchResultDetailsDto","required":["count","result"],"type":"object","properties":{"count":{"description":"The document count.","default":"0","type":"int"},"result":{"description":"All the document's summary.","type":"array","items":{"title":"DocumentSearchResultDto","required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8408776-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8408776-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Search/InitRange":{"get":{"tags":["Documents"],"summary":"Gets the search query id and the document count returned by the search based on a bunch of parameters.","description":"This method caches the search results on the server and returns an id that allows access to the cached results through the <b>/Documents/Search/Range</b> endpoint. The search results are cached on the server for five minutes. If there are no request after five minutes, the query expires. The timer is reset every time the search result are access through the <b>/Documents/Search/Range</b> endpoint.","operationId":"Documents_GetDocumentAdvancedInitRangeSearchResults","consumes":[],"produces":["application/json"],"parameters":[{"name":"query","in":"path","description":"The query used to search in our system. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","required":true,"type":"string","default":"Some query text"},{"name":"documentBase","in":"path","description":"The document base which determines which type of documents will be returned. The available document bases are <b>News</b>, <b>Companies</b> and <b>Biographies</b>. If not specified, <b>News</b> will be used.","required":false,"type":"string","default":"News"},{"name":"domainId","in":"path","description":"The domain used to restrain the search's range. See \"<b>/Domains</b>\" to get a list of possible values.","required":false,"type":"integer","default":208},{"name":"includes","in":"path","description":"An array containing criterion and/or publication ids restricting what must be included in the search. If this parameter and <b>excludes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","required":false,"type":"array","items":{"type":"integer"},"default":"[4, 123]"},{"name":"excludes","in":"path","description":"An array containing criterion and/or publication ids restricting what must be excluded from the search. If this parameter and <b>includes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","required":false,"type":"array","items":{"type":"integer"},"default":"[4, 123]"},{"name":"maxCount","in":"path","description":"The maximum count of documents to return.","required":false,"type":"integer","default":0},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"dateRange","in":"path","description":"Date range at which search is restricted. Possible values are: <b>TODAY</b>, <b>SINCE_YESTERDAY</b>, <b>DAYS_3</b>, <b>DAYS_7</b>, <b>DAYS_30</b>, <b>MONTHS_3</b>, <b>MONTHS_6</b>, <b>YEARS_1</b>, <b>YEARS_2</b>, <b>ALL</b>. If <b>dateRange</b>, <b>startDate</b> and <b>endDate</b> are not specified, \"Date Range\" value of search preference from Eureka web site is used.","required":false,"type":"string","default":"DAYS_7"},{"name":"startDate","in":"path","description":"The date from which the search much start. Only used if <b>dateRange</b> is not specified.","required":false,"type":"string","format":"date-time","default":"2023-02-26T00:00:00-05:00"},{"name":"endDate","in":"path","description":"The date at which the search much end. Only used if <b>dateRange</b> is not specified.","required":false,"type":"string","format":"date-time","default":"2023-02-27T00:00:00-05:00"},{"name":"sort","in":"path","description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","type":"string","default":"relevance"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"},{"name":"Cs-Language","in":"header","description":"The header which determines the language in which the details are returned. The available languages are <b>French</b> and <b>English</b>. If the header is not specified or the value specified is not implemented or wrong, the user's default language is used.","required":false,"type":"string","default":"french"}],"responses":{"200":{"description":"The request was successful, the search results are cached on the server and the informations necessary to access the results are returned.","schema":{"title":"DocumentInitRangeSearchResultDtoV2","required":["queryRangeId","documentCount"],"type":"object","properties":{"queryRangeId":{"description":"The search query range Id used to request search results by page to the API. To be used by <b>/Documents/Search/Range</b> endpoint.","default":"d6e1ba85-f8b5-497d-9e53-4ef623ad4d23","type":"guid"},"documentCount":{"description":"The number of document(s) matching the search criteria.","default":"300","type":"integer"}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}},"post":{"tags":["Documents"],"summary":"Gets the search query id and the document count returned by the search based on a bunch of parameters.","description":"This method caches the search results on the server and returns an id that allows access to the cached results through the <b>/Documents/Search/Range</b> endpoint. The search results are cached on the server for five minutes. If there are no request after five minutes, the query expires. The timer is reset every time the search result are access through the <b>/Documents/Search/Range</b> endpoint.","operationId":"Documents_GetDocumentAdvancedInitRangeSearchResultsFromPost","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"JSon Body","in":"body","description":"Data structure containing the parameters of the search.","required":true,"schema":{"title":"GetDocumentAdvancedSearchResultsParametersV2 ","required":["query"],"type":"object","properties":{"query":{"description":"The query used to search in our system. See section \"<b>SEARCH QUERY DOCUMENTATION</b>\" for documentation.","default":"Some query text","type":"string"},"documentBase":{"description":"The document base which determines which type of documents will be returned. The available document bases are <b>News</b>, <b>Companies</b> and <b>Biographies</b>. If not specified, <b>News</b> will be used.","default":"News","type":"string"},"domainId":{"description":"The domain used to restrain the search's range. See \"<b>/Domains</b>\" to get a list of possible values.","default":208,"type":"integer"},"includes":{"description":"An array containing criterion and/or publication ids restricting what must be included in the search. If this parameter and <b>excludes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","default":"[4, 123]","type":"array"},"excludes":{"description":"An array containing criterion and/or publication ids restricting what must be excluded from the search. If this parameter and <b>includes</b> are not specified, all the user sources will be used. See \"<b>/Criteria</b>\" and \"<b>/Publications</b>\" to get a list of possible values.","default":"[4, 123]","type":"array"},"maxCount":{"description":"The maximum count of documents to return.","default":0,"type":"integer"},"docUrl":{"description":"Indicates that you want an external link to the document with the http(s) protocol you want","default":"http | https","type":"string"},"sort":{"description":"(Optional) Indicates the order in which the documents should be sorted. Possible values are: <b>relevance</b>, <b>date</b>","default":"relevance","type":"string"},"dateRange":{"description":"Date range at which search is restricted. Possible values are: <b>TODAY</b>, <b>SINCE_YESTERDAY</b>, <b>DAYS_3</b>, <b>DAYS_7</b>, <b>DAYS_30</b>, <b>MONTHS_3</b>, <b>MONTHS_6</b>, <b>YEARS_1</b>, <b>YEARS_2</b>, <b>ALL</b>. If <b>dateRange</b>, <b>startDate</b> and <b>endDate</b> are not specified, \"Date Range\" value of search preference from Eureka web site is used.","default":"DAYS_7","type":"string"},"startDate":{"description":"The date from which the search much start. Only used if <b>dateRange</b> is not specified.","default":"2023-02-26T00:00:00-05:00","type":"string"},"endDate":{"description":"The date at which the search much end. Only used if <b>dateRange</b> is not specified.","default":"2023-02-27T00:00:00-05:00","type":"string"}}}},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"},{"name":"Cs-Language","in":"header","description":"The header which determines the language in which the details are returned. The available languages are <b>French</b> and <b>English</b>. If the header is not specified or the value specified is not implemented or wrong, the user's default language is used.","required":false,"type":"string","default":"french"}],"responses":{"200":{"description":"The request was successful, the search results are cached on the server and the informations necessary to access the results are returned.","schema":{"title":"DocumentInitRangeSearchResultDtoV2","required":["queryRangeId","documentCount"],"type":"object","properties":{"queryRangeId":{"description":"The search query range Id used to request search results by page to the API. To be used by <b>/Documents/Search/Range</b> endpoint.","default":"d6e1ba85-f8b5-497d-9e53-4ef623ad4d23","type":"guid"},"documentCount":{"description":"The number of document(s) matching the search criteria.","default":"300","type":"integer"}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Search/Range":{"get":{"tags":["Documents"],"summary":"Gets the search result cached based on the cached query id acquired through the /Search/InitRange endpoint.","description":"The search results must first be cached though the <b>/Search/InitRange</b> endpoint.","operationId":"Documents_GetDocumentAdvancedRangeSearchResults","consumes":[],"produces":["application/json"],"parameters":[{"name":"queryRangeId","in":"path","description":"The query range id used to obtain the cached search result. See <b>/Search/InitRange</b> endpoint for details.","required":true,"type":"string","format":"uuid","default":"d6e1ba85-f8b5-497d-9e53-4ef623ad4d23"},{"name":"startIndex","in":"path","description":"The index from which the returned search result starts. It cannot be lower than 0.","required":true,"type":"integer","default":0},{"name":"endIndex","in":"path","description":"The index from which the returned search result ends. It cannot be higher than the total number of documents.","required":true,"type":"integer","default":9},{"name":"docUrl","in":"path","description":"Indicates that you want an external link to the document with the http(s) protocol you want","required":false,"type":"string","default":"http | https"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the search results are returned.","schema":{"title":"Array","type":"array","items":{"title":"DocumentSearchResultDto","required":["documentId","publicationName","byLine","title","publicationDate","availableDate","publicationCode","inContext","language","externalLinks","apiLinks"],"type":"object","properties":{"documentId":{"description":"The document unique Id.","default":"The document Id","type":"string"},"publicationName":{"description":"The name of the publication containing the document.","default":"The publication name","type":"string"},"byLine":{"description":"The by line that should contain the author's name(s).","default":"By some author","type":"string"},"title":{"description":"The title of the document that could be used as display.","default":"The document title","type":"string"},"publicationDate":{"description":"The date at which the document was published.","default":"2023-02-26T13:18:53.8408776-05:00","type":"string"},"availableDate":{"description":"The date at which the document is available.","default":"2023-02-27T13:18:53.8408776-05:00","type":"string"},"publicationCode":{"description":"The code of the publication containing the document.","default":"The publication code","type":"string"},"inContext":{"description":"The section of the document that was marked by the search.","default":"Some text","type":"string"},"language":{"description":"The language of the document.","default":"en | fr","type":"string"},"externalLinks":{"description":"The document external links.","type":"object","items":{"title":"DocumentSearchExternalLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The uri from which you can access the html formatted document.","default":"http://(product_url)/WebPages/Document/WsDocViewer.aspx?wsdoc=access_parameters","type":"string"}}}},"apiLinks":{"description":"The document api uri links.","type":"object","items":{"title":"DocumentSearchApiLinksDto","required":["document"],"type":"object","properties":{"document":{"description":"The api uri from which you can access the detailed document.","default":"/api/v2/folders/{folderId}/Documents/{docRefId}","type":"string"}}}}}}}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"404":{"description":"There was no query with the specified id cached on the server. It may have expired or has never existed."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Attachments/{attachmentId}/Files":{"get":{"tags":["Documents"],"summary":"Gets the document attachment matching the attachment id.","description":"The file, video, audio clip or image is returned as a binary file.","operationId":"Documents_GetDocumentAttachmentFromAttachmentId","consumes":[],"produces":["application/pdf","text/html","audio/{audioFormat}","image/{imageFormat}","video/{videoFormat}"],"parameters":[{"name":"attachmentId","in":"path","description":"The id of the document attachment you wish to get.","required":true,"type":"string","default":"\"Attachment's Id\""},{"name":"maxHeight","in":"query","description":"(Optional) Indicates the maximum height an image should be. 0 indicates the image won't be resized. This parameter is ignored if the attachment is not an image.","required":false,"type":"integer","format":"int32","default":"0"},{"name":"maxWidth","in":"query","description":"(Optional) Indicates the maximum width an image should be. 0 indicates the image won't be resized. This parameter is ignored if the attachment is not an image.","required":false,"type":"integer","format":"int32","default":"0"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting a streamed file. See the list of supported return types in the response content type.","required":true,"type":"string","default":"application/pdf"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the document attachment is returned.","schema":{"type":"The response only contains the returned binary data. No other field is returned. The response's Content-Type header indicates the type of data returned."}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"403":{"description":"The document and its attachments are not available to this user whether be it temporarily or permanently."},"404":{"description":"The attachment could not be found or is unavailable at the moment."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Attachments/{attachmentId}/Urls":{"get":{"tags":["Documents"],"summary":"Gets the document attachment url matching the attachment id. (Video/Audio)","description":"The returned url can be used to view the attachment directly in a browser. This method is only available for videos and audio clips.","operationId":"Documents_GetDocumentAttachmentUrlFromAttachmentId","consumes":[],"produces":["application/json"],"parameters":[{"name":"attachmentId","in":"path","description":"The Id of the document attachment from which you wish to get the url.","required":true,"type":"string","default":"Attachment Id"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the document attachment's url is returned.","schema":{"type":"The response contains the url string. No other field is returned."}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"403":{"description":"The document and its attachments are not available to this user whether be it temporarily or permanently."},"404":{"description":"The attachment could not be found or is unavailable at the moment."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/Attachments/{attachmentId}/Thumbnail":{"get":{"tags":["Documents"],"summary":"Gets the document attachment matching the attachment id.","description":"The file, video, audio clip or image is returned as a binary file.","operationId":"Documents_GetDocumentAttachmentThumbnailFromAttachmentId","consumes":[],"produces":["application/pdf","text/html","audio/{audioFormat}","image/{imageFormat}","video/{videoFormat}"],"parameters":[{"name":"attachmentId","in":"path","description":"The id of the document attachment you wish to get.","required":true,"type":"string","default":"\"Attachment's Id\""},{"name":"maxHeight","in":"query","description":"(Optional) Indicates the maximum height an image should be. 0 indicates the image won't be resized. This parameter is ignored if the attachment is not an image.","required":false,"type":"integer","format":"int32","default":"0"},{"name":"maxWidth","in":"query","description":"(Optional) Indicates the maximum width an image should be. 0 indicates the image won't be resized. This parameter is ignored if the attachment is not an image.","required":false,"type":"integer","format":"int32","default":"0"},{"name":"Accept","in":"header","description":"The header telling the server you're expecting a streamed file. See the list of supported return types in the response content type.","required":true,"type":"string","default":"application/pdf"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Authorization","in":"header","description":"The authorization header allowing you to pass your token to access the API.","required":true,"type":"string","default":"Bearer token_value"}],"responses":{"200":{"description":"The request was successful and the document attachment is returned.","schema":{"type":"The response only contains the returned binary data. No other field is returned. The response's Content-Type header indicates the type of data returned."}},"400":{"description":"One or more parameters are missing/incorrect. The reason will be specified."},"403":{"description":"The document and its attachments are not available to this user whether be it temporarily or permanently."},"404":{"description":"The attachment could not be found or is unavailable at the moment."},"401":{"description":"The user could not be authentified. The reason will be specified."},"500":{"description":"An internal server error has happened.If this keeps happening, please contact our customer support."}}}},"/api/v2/documents/LogPublication":{"post":{"tags":["Documents"],"summary":"Logs the consumption and publication of a set of documents.","description":"The username of the reader account are used for the publication request. You can get them from the Admin page of the product","operationId":"Documents_LogPublication","consumes":["application/json","text/json","text/html","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json"],"parameters":[{"name":"parameters","in":"body","description":"Data structure containing a list of document to publish and optionally a list of reader's usercode to publish the documents","required":true,"schema":{"title":"LogPublicationParameter","required":["documents","readerNames"],"type":"object","properties":{"documents":{"type":"array","items":{"title":"DocumentParameter","required":["documentId"],"type":"object","properties":{"documentId":{"description":"Document's nodoc","type":"string"}}}},"readerNames":{"type":"array","items":{"type":"string"}}}}},{"name":"Accept","in":"header","description":"The header telling the server you're expecting JSON. Only JSON is supported.","required":true,"type":"string","default":"application/json"},{"name":"Content-Type","in":"header","description":"The header telling the server you're sending JSON. Only JSON is supported.","required":true,"type":"strin
[...]
